@import url(styles.css);

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.calculator-container {
    max-width: 75%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.input-area {
    margin-bottom: 20px;
}

.input-group {
    margin: 10px 0;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.hidden{
    display: none;
}
.button-group {
    text-align: right;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

tbody{
    font-size: 18px;
}

label{
    font-weight: bold;
}


button#clear {
    background-color: #d9534f;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
}

table th {
    background-color: #f9f9f9;
}

/* Responsive styles */
@media (max-width: 767px) {
    .input-group, .button-group {
        text-align: center;
    }

    .button-group button {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
}
